#book-display {
    display: flex;
    flex-flow: row wrap;

}

body {
    background-color: rgb(26, 26, 26);
}

.book {
    border-radius: 15px;
    border-style: solid;
    border-color: lightgray;
    box-shadow:rgba(57, 70, 78, 0.15) 0px 0px 1px 0px, rgba(57, 70, 78, 0.25) 0px 20px 55px -8px;
    width: 400px;
    height: 150px;
    text-align: center;
    font-size: 30px;
    margin: 10px;
}

#form-container {

}

p {
    margin: 0px;
}

p.title {
    font-size: 30px;

}

p.author {

}

p.pages {

}

p.haveRead {

}